<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");
    *{
    box-sizing: border-box;
    }
    header {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
    header h1 {
    position: relative;
    left: 10%;
    width: 80%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;   
    justify-content: center;
    text-align: center;
    }
    header .header-1{
    background-image: repeating-radial-gradient(farthest-side at 5px 5px,#7442ff, #2169ba, #158ddd);
    }
</style>

<style>
    @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
    @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
    body{
        font-family: 'Open Sans', sans-serif;
    }
    *:hover{
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    section{
        float:left;
        width:100%;
        background: #fff;  /* fallback for old browsers */
        padding:30px 0;
    }
    h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
    h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
    h1 a{color:#131313; font-weight:bold;}

    /*Profile Card 3*/
    .profile-card-3 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: center;
    height:368px;
    border:none;
    }
    .profile-card-3 .background-block {
        float: left;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .profile-card-3 .background-block .background {
    width:100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    -webkit-transform: scale(1.8);
    transform: scale(2.8);
    }
    .profile-card-3 .card-content {
    width: 100%;
    padding: 15px 25px;
    color:#232323;
    float:left;
    background:#e1e1e1;
    height:50%;
    border-radius:0 0 5px 5px;
    position: relative;
    z-index: 9999;
    }
    .profile-card-3 .card-content::before {
        content: '';
        background: #e1e1e1;
        width: 120%;
        height: 100%;
        left: 11px;
        bottom: 51px;
        position: absolute;
        z-index: -1;
        transform: rotate(-13deg);
    }
    .profile-card-3 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index:99999;
    }
    .profile-card-3 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size:25px;
    }
    .profile-card-3 h2 small {
    display: block;
    font-size: 15px;
    margin-top:10px;
    }
    .profile-card-3 i {
    display: inline-block;
        font-size: 16px;
        color: #232323;
        text-align: center;
        border: 1px solid #232323;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        margin:0 5px;
    }
    .profile-card-3 .icon-block{
        float:left;
        width:100%;
        margin-top:15px;
    }
    .profile-card-3 .icon-block a{
        text-decoration:none;
    }
    .profile-card-3 i:hover {
    background-color:#232323;
    color:#fff;
    text-decoration:none;
    }
</style>

<style>
    .cropped2 {
    width: 800px; /* width of container */
    height: 400px; /* height of container */
    object-fit: cover;
    object-position: 80% 100%; /* try 20px 10px */ 
}
</style>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <% if (locals.message) { %>
        <div
          class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
          role="alert"
        >
          <%= message %>
        </div>
    <% } %>
    
    <div>
        <div>
            <header>
                <h1 class="header-1">Find Locals</h1>
            </header>
        </div>
        <%- include ('../partials/searchBar.ejs') %>
    </div>
  </div>

  <div>
    <% if (locals.users != undefined) { %>

      <div class="container" margin="auto">
        <div class="row" margin="10px">

          <% users.forEach( user => { %>
            <div class="col-md-4">
              <div class="card profile-card-3">

                <div class="background-block">
                  <img src="https://images.unsplash.com/photo-1566895291281-ea63efd4bdbc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8OSUzQTE2fGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="cropped2"/>
                </div>

                <div class="profile-thumb-block">
                  <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
                </div>
                                
                <div class="card-content">

                  <!-- Add in phone number if its avaliable -->
                  <% if (user.phone_num != null) { %>
                    <h2><%= user.username %><small><%= user.email %></small><small><%= user.phone_num %></small></h2>
                  <% } else { %>
                    <h2><%= user.username %><small><%= user.email %></small></h2>
                  <% } %>

                  <div class="icon-block">

                    <% if(user.twitter != null){ %>
                      <a href=<%=`https://twitter.com/${user.twitter}`%>><i class="fa fa-twitter"></i></a>
                    <% } %> 

                    <% if(user.facebook_url != null){ %>
                      <a href=<%=user.facebook_url%>><i class="fa fa-facebook"></i></a>
                    <% } %> 

                    <!-- <a href=<%=user.phone_num%>><i class="fa fa-facebook"></i></a> -->

                  </div>
                </div>
              </div>
            </div>
          <% }) %>

        </div>
      </div>

    <% } %> 
  </div>

</main>

<%- include ('../partials/footer') %>